# Template specific files
*.sh
_site/
.jekyll-metadata
Gemfile.lock
Gemfile

# Add your own files to be ignored from git in here
C:\Users\yohan\Documents\GitHub\P-E-BO-Desk-Companion\Data\pebo-task-manager-767f3-firebase-adminsdk-fbsvc-5c1cf078ce.json